<!DOCTYPE html>
<html>
<title>Edit FOOD</title>
<link rel="shortcut icon" href="PATicon.png" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
</style>
<body class="w3-light-grey">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large" style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
  <a href="navigation.html" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Categories</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Child Activity</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Food Intake</a>
</nav>


<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">
  <img src="food/foodicon.png" alt="logo" width="30px" height="auto"/>FOOD</span>
    <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content" style="max-width:1600px;margin-top:83px">

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>
  <!-- FOOD -->
  <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="food">
    <div class="w3-quarter">
        <input type="checkbox" name="food"/><img src="food/eggs.jpg" style="width:100%" id="eggs_img" onclick="document.getElementById('egg_play').play(); insert('eggs'); return false;" alt="Eggs">
        <input type="checkbox" name="food"/><img src="food/friedchicken.jpg" style="width:100%" id="friedchicken_img" onclick="document.getElementById('chicken_play').play(); return false;" alt="Fried Chicken">
        <input type="checkbox" name="food"/><img src="food/marshmallow.jpg" style="width:100%" id="marshmallow_img" onclick="document.getElementById('marshmallow_play').play(); return false;" alt="Marshmallow">
   </div>

   <div class="w3-quarter">
      <input type="checkbox" name="hotdog"/><img src="food/hotdog.jpg" style="width:100%" id="hotdog_img" onclick="document.getElementById('hotdog_play').play(); return false;" alt="Hotdog">
      <input type="checkbox" name="burger"/><img src="food/burger.jpg" style="width:100%" id="burger_img" onclick="document.getElementById('burger_play').play(); return false;" alt="Burger">
      <input type="checkbox" name="lollipop"/><img src="food/lollipop.jpg" style="width:100%" id="lollipop_img" onclick="document.getElementById('lollipop_play').play(); return false;" alt="Lollipop">
    </div>

    <div class="w3-quarter">
       <input type="checkbox" name="pancakes"/><img src="food/pancakes.jpg" style="width:100%" id="pancakes_img" onclick="document.getElementById('pancake_play').play(); return false;" alt="Pancakes">
       <input type="checkbox" name="bbq"/><img src="food/bbq.jpg" style="width:100%" id="bbq_img" onclick="document.getElementById('bbq_play').play(); return false;" alt="Burger">
       <input type="checkbox" name="icecream"/><img src="food/icecream.jpg" style="width:100%" id="icecream_img" onclick="document.getElementById('icecream_play').play(); return false;" alt="Burger">
    </div>

    <div class="w3-quarter">
      <input type="checkbox" name="cookies"/><img src="food/cookies.jpg" style="width:100%" id="cookies_img" onclick="document.getElementById('cookies_play').play(); return false;" alt="Cookies">
      <input type="checkbox" name="fries"/><img src="food/fries.jpg" style="width:100%" id="fries_img" onclick="document.getElementById('fries_play').play(); return false;" alt="French Fries">
      <input type="checkbox" name="halo"/><img src="food/halo.jpg" style="width:100%" id="halo_img" onclick="document.getElementById('halo_play').play(); return false;" alt="Halo-halo">
    </div>

     <form id = "upload form" method = "POST" enctype = "multipart/form-data">
         <p>Add new food</p>
         <input type = "text" name = "name" id = "name">
         <input type = "file" name = "file" id = "file" accept = "image/jpeg" multiple>
         <input type = "submit" onclick = "upload();" value = "Save">
         <input type = "button" data-dismiss="modal" href = "food.html" value = "Cancel">
     </form>
  </div>


    <audio id="egg_play">
    <source src="audio/egg.mp3" type="audio/ogg" />
    </audio>
    <audio id="chicken_play">
    <source src="audio/chicken.mp3" type="audio/ogg" />
    </audio>
    <audio id="marshmallow_play">
    <source src="audio/marshmallow.mp3" type="audio/ogg" />
    </audio>
    <audio id="hotdog_play">
    <source src="audio/hotdog.mp3" type="audio/ogg" />
    </audio>
    <audio id="burger_play">
    <source src="audio/burger.mp3" type="audio/ogg" />
    </audio>
    <audio id="lollipop_play">
    <source src="audio/lollipop.mp3" type="audio/ogg" />
    </audio>
    <audio id="pancake_play">
    <source src="audio/pancake.mp3" type="audio/ogg" />
    </audio>
    <audio id="bbq_play">
    <source src="audio/barbecue.mp3" type="audio/ogg" />
    </audio>
    <audio id="icecream_play">
    <source src="audio/ice_cream.mp3" type="audio/ogg" />
    </audio>
    <audio id="cookies_play">
    <source src="audio/cookies.mp3" type="audio/ogg" />
    </audio>
    <audio id="fries_play">
    <source src="audio/french_fries.mp3" type="audio/ogg" />
    </audio>
    <audio id="halo_play">
    <source src="audio/halo-halo.mp3" type="audio/ogg" />
    </audio>

<!-- End page content -->
</div>

    <script src="jQuery-2.1.4.min.js"></script>
    <script src="app.js"></script>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}


</script>


</body>
</html>
