<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Sample Page">
    <meta name="author" content="Sample B. Author">
    <title>Registration</title>
    <link rel="shortcut icon" href="PATicon.png" />
<style>
body {
        background-image: url("PATbg.png");
}

</style>
</head>


<body>
   <div class="header">
       <center><img src="PATheader.png" alt="logo" width="500px" height="auto"/></center>
   <center><h2>Registration</h2></center>
    </div>

  <center>
      <fieldset style="width:400px">
      <legend>Registration</legend>
      E-mail Address:<br>
           <input type="email" class="form-control" id="email" placeholder="email"></br>
      Username:<br>
           <input type="text" class="form-control" id="username" placeholder="username"></br>
      Password:<br>
          <input type="password" class="form-control" id="password" placeholder="password"></br>
      Repeat Password:<br>
          <input type="password" class="form-control" id="repeat" placeholder="repeat"></br>
      <button type="Submit" class="btn btn-success" onclick="registration();">Sign Up!</button>
      </fieldset>
  </center>
</form>
</body>
</html>