<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
      <fieldset>
                    <!-- File Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="upload_photo">Upload Photo</label>
                      <div class="col-md-4">
                        <input id="upload_photo" name="upload_photo" class="input-file" type="file">
                      </div>
                    </div>
    <center><button class="button" type="submit" onclick="upload_food();">Upload</button></center>

            </fieldset>

    <script src="jQuery-2.1.4.min.js"></script>
    <script src="app.js"></script>
</body>
</html>